<div class="{{CSS_PREFIX}}popup">
    <div class="{{CSS_PREFIX}}popup-container">
        <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}dropdown {{CSS_PREFIX}}close {{CSS_PREFIX}}section-calendar{{#unless calendars.length}} {{CSS_PREFIX}}hide{{/unless}}">
            <button type="button" class="{{CSS_PREFIX}}button {{CSS_PREFIX}}dropdown-button {{CSS_PREFIX}}popup-section-item">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot" style="background-color: {{selectedCal.bgColor}}"></span>
                <span id="{{CSS_PREFIX}}schedule-calendar" class="{{CSS_PREFIX}}content">{{selectedCal.name}}</span>
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}dropdown-arrow"></span>
                </span>
            </button>
            <ul class="{{CSS_PREFIX}}dropdown-menu" style="z-index: {{zIndex}}">
                {{#each calendars}}
                    <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item" data-calendar-id="{{id}}">
                        <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot" style="background-color: {{bgColor}}"></span>
                        <span class="{{CSS_PREFIX}}content">{{name}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}dropdown {{CSS_PREFIX}}close {{CSS_PREFIX}}section-ifad{{#unless ifad.length}} {{CSS_PREFIX}}hide{{/unless}}">
            <button type="button" class="{{CSS_PREFIX}}button {{CSS_PREFIX}}dropdown-button {{CSS_PREFIX}}popup-section-item">
                <span id="{{CSS_PREFIX}}schedule-ifad" class="{{CSS_PREFIX}}content">{{selectedIfad.name}}</span>
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}dropdown-arrow"></span>
                </span>
            </button>
            <ul class="{{CSS_PREFIX}}dropdown-menu" style="z-index: {{zIndex}}">
                {{#each ifad}}
                    <li class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}dropdown-menu-item {{CSS_PREFIX}}popup-section-ifad" data-ifad-id="{{id}}">
                        <span class="{{CSS_PREFIX}}content {{CSS_PREFIX}}popup-section-ifad" data-ifad-id="{{id}}">{{name}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="tui-full-calendar-popup-section-item tui-full-calendar-section-zoom">
            <input id="tui-full-calendar-schedule-zoom" type="checkbox" class="tui-full-calendar-checkbox-square"{{#if zoom}} checked{{/if}}>
            <span class="tui-full-calendar-icon tui-full-calendar-ic-zoom"></span>
            <span class="tui-full-calendar-content tui-full-calendar-zoom">Zoom</span>
        </div>

        <div class="{{CSS_PREFIX}}popup-section">
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-title">
            <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-title"></span>
            <input id="{{CSS_PREFIX}}schedule-title" class="{{CSS_PREFIX}}content" placeholder="{{titlePlaceholder-tmpl}}" value="{{title}}"></span>
            </div>
            
            <button type="button" id="{{CSS_PREFIX}}schedule-attachment" class="{{CSS_PREFIX}}button {{CSS_PREFIX}}section-attachment">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-attachment"></span>
                <input type="file" id="{{CSS_PREFIX}}input-attachment" multiple="multiple">
            </button>
        </div>

        <div class="{{CSS_PREFIX}}popup-section">
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-start-date">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-date"></span>
                <input id="{{CSS_PREFIX}}schedule-start-date" class="{{CSS_PREFIX}}content" placeholder="{{startDatePlaceholder-tmpl}}"></span>
                <div id="{{CSS_PREFIX}}startpicker-container" style="margin-left: -1px; position: relative"></div>
            </div>
            <span class="{{CSS_PREFIX}}section-date-dash">-</span>
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-end-date">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-date"></span>
                <input id="{{CSS_PREFIX}}schedule-end-date" class="{{CSS_PREFIX}}content" placeholder="{{endDatePlaceholder-tmpl}}"></span>
                <div id="{{CSS_PREFIX}}endpicker-container" style="margin-left: -1px; position: relative"></div>
            </div>
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-allday">
                <input id="{{CSS_PREFIX}}schedule-allday" type="checkbox" class="{{CSS_PREFIX}}checkbox-square"{{#if isAllDay}} checked{{/if}}></input>
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-checkbox"></span>
                <span class="{{CSS_PREFIX}}content {{CSS_PREFIX}}allday-title">{{{popupIsAllDay-tmpl}}}</span>
            </div>
        </div>
        
        <div class="{{CSS_PREFIX}}popup-section">
            <div class="{{CSS_PREFIX}}popup-section-item {{CSS_PREFIX}}section-comments">
                <span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-comments"></span>
                <textarea id="{{CSS_PREFIX}}schedule-comments" class="{{CSS_PREFIX}}content" placeholder="{{commentsPlaceholder-tmpl}}" value="{{comments}}">{{comments}}</textarea>
            </div>
        </div>

        <button type="button" class="{{CSS_PREFIX}}button {{CSS_PREFIX}}popup-close"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-close"></span></button>
        <div class="{{CSS_PREFIX}}section-button-save"><button type="button" class="{{CSS_PREFIX}}button {{CSS_PREFIX}}confirm {{CSS_PREFIX}}popup-save"><span>{{#if isEditMode}}{{{popupUpdate-tmpl}}}{{else}}{{{popupSave-tmpl}}}{{/if}}</span></button></div>
    </div>
    <div id="{{CSS_PREFIX}}popup-arrow" class="{{CSS_PREFIX}}popup-arrow {{CSS_PREFIX}}arrow-bottom">
        <div class="{{CSS_PREFIX}}popup-arrow-border">
            <div class="{{CSS_PREFIX}}popup-arrow-fill"></div>
        </div>
    </div>
</div>
